// Variable Declarations

// sizes

$mobile: 30em;
$tablet: 48em;
$toobig: 980px;

// Colors

$black: #1f1f1f;
$white: #f1f3f4;
$lightgray: #999999;
$darkgray: #333333;
$gray: #777777;
$green: #1c3738;

$primary: $black;
$secondary: $white;
$accent: $darkgray;

html {
  background-color: $gray;
}

* {
  box-sizing: border-box;
}
// Fonts

$rubik: "Rubik", sans-serif;
$noto: "Noto Sans", sans-serif;

body {
  font-size: 16px;
  font-family: $noto;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: $rubik;
}

h1 {
  @extend .heading;
}

h3 {
  @extend .subhead;
}

.subhead {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $rubik;
  letter-spacing: 0.03rem;
}

.link,
a {
  font-family: $rubik;
  font-weight: 300;
  text-decoration: underline;
  color: inherit;
  letter-spacing: 1px;
  opacity: 1;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.6;
  }
}

.main {
  min-height: 85vh;
}

.layout-wrapper {
  max-width: $toobig;
  margin-right: auto;
  margin-left: auto;
  background-color: $primary;
  color: $secondary;

  @media screen and (min-width: $toobig) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
}

// shared components

.menu-btn {
  background: transparent;
  position: fixed;
  top: 2%;
  right: 2%;
  border: none;
  color: $secondary;
  font-size: 4rem;
  margin: 0;
  line-height: 0.5;
  transition: all 0.3s ease;
}

.close-btn {
  @extend .menu-btn;
  font-size: 2.5rem;
  line-height: 1;
  transform: rotate(90deg);
}

.navbar {
  width: 300px;
  height: 400px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    height: 100%;

    li {
      margin-top: 2rem;
      margin-bottom: 2rem;
      a {
        @extend .subhead;
        position: relative;
        font-size: 1.5rem;
        padding-right: 2rem;
        color: $primary;
        text-decoration: none;

        &:after {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          content: "";
          width: 10px;
          height: 4px;
          color: $primary;
          background-color: $primary;
          transition: width 0.12s linear;
        }

        &:hover {
          opacity: 1;
          &:after {
            width: 100%;
          }
        }

        @media screen and (max-width: $toobig) {
          color: $secondary;
          &:after {
            color: $secondary;
            background-color: $secondary;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    background-color: $accent;
    height: 100vh;
    width: 190px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

.footer {
  width: 100%;
  padding-left: 2rem;
  padding-right: 0.5rem;
  font-family: $rubik;
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.date {
  font-family: $rubik;
  font-weight: 300;
  letter-spacing: 0.1em;
}

img {
  width: 100%;
}
// homepage

.hero {
  height: 400px;
  background-color: $accent;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;

  h1 {
    @extend .heading;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h3 {
    @extend .subhead;
    font-size: 1rem;
    max-width: 40ch;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  .navlinks {
    width: 60%;
    display: flex;

    a {
      margin-right: 1rem;
    }
  }
}

.body {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;

  h3 {
    @extend .subhead;
  }

  .body-content {
    width: 70%;

    p {
      line-height: 1.5;
      max-width: 30rem;
    }
  }

  .client-content {
    width: 30%;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;

    .client-content {
      width: 70%;
      margin-top: 2rem;
    }
  }
}

// blog page

.blog-listing {
  padding-left: 2rem;
  padding-top: 2rem;

  h1 {
    @extend .heading;
    width: 60%;
  }

  .blog-listing-items {
    margin-top: 4rem;
    width: 70%;
  }

  .item {
    margin-top: 4rem;
    margin-bottom: 4rem;

    h3 {
      cursor: pointer;
    }

    p {
      max-width: 70%;
      line-height: 1.5;
    }

    @media screen and (max-width: $mobile) {
      p {
        max-width: 90%;
      }
    }
  }
}

// blog post

.post {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 75%;
  margin-right: auto;
  margin-left: auto;

  h1 {
    width: 70%;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .date {
    margin-bottom: 2rem;
  }

  p,
  ol,
  ul {
    max-width: 80%;
    line-height: 1.7;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

// portfolio page

.portfolio-page {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;

  h1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
  }
}

.case-section {
  width: 100%;
  margin-bottom: 4rem;
}

.case-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .item {
    width: 300px;
    border-radius: 0.3rem;
    background-color: $accent;
    cursor: pointer;

    img {
      width: 300px;
      height: 180px;
      object-fit: cover;
    }

    h4 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      font-family: $rubik;
      font-weight: 600;
    }

    p {
      margin-left: 1rem;
      margin-bottom: 2rem;
      font-size: 0.8rem;
      font-family: $rubik;
      font-weight: 300;
    }

    &:hover {
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.other-projects {
  h3 {
    margin-bottom: 2rem;
  }
}

.portfolio-items {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 2rem;

  .item {
    a {
      text-decoration: none;
    }
    width: 250px;

    h4 {
      @extend .link;
      font-size: 1.4rem;
    }

    p {
      line-height: 1.5;
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, auto);
  }
}
