// Variable Declarations

// Colors

$black: #1f1f1f;
$white: #f1f3f4;
$lightgray: #999999;
$darkgray: #333333;
$gray: #777777;

$primary: $black;
$secondary: $white;

html {
  background-color: $primary;
  color: $secondary;
}
// Fonts

$rubik: "Rubik", sans-serif;
$noto: "Noto Sans", sans-serif;

body {
  font-size: 16px;
  font-family: $noto;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  font-family: $rubik;
}

.subhead {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $rubik;
}

.link {
  font-family: $rubik;
  font-weight: 300;
  text-decoration: underline;
}
