/* Variables */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

.body-container {
  min-height: 90vh;
}

.snz-black {
  color: #1f1f1f;
}

.bg-snz-black {
  background-color: #1f1f1f;
}

.snz-white {
  color: #f1f3f4;
}

.bg-snz-white {
  background-color: #f1f3f4;
}

.nav {
  padding: 0.6rem;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    margin-right: 1.5rem;
  }
}

article {
  a {
    text-decoration: none;
    color: #2ecc40;
    transition: all 0.6s;

    &:hover {
      color: #3d9970;
    }
  }
}

.social-icons {
  width: 54px;
  margin-top: 6px;
  @media screen and (max-width: 30em) {
    width: 42px;
    margin-top: 2px;
  }
}

.code-icon {
  width: 150px;

  @media screen and (max-width: 30em) {
    width: 75px;
  }
}

.blog-icon {
  width: 135px;

  @media screen and (max-width: 30em) {
    width: 65px;
  }
}

.portfolio-icon {
  width: 135px;

  @media screen and (max-width: 30em) {
    width: 65px;
  }
}
