/* Variables */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  padding: .6rem;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    margin-right: 1.5rem;
  }
}
